* {
   color: #000000;
}

body {
   background: #FFFFFF;
   font-family: 'Didact Gothic', sans-serif;
}

header {
   background: #314455;
   height: 55px;
   width: 100%;
}

header h2 {
   font-size: 30px;
   padding: 12px;
   margin-top: 12px;
}

header h2 #white {
   color: white;
}

header h2 #green {
   color: #B4CD68;
}

#midder {
   background: #D5E5F4;
}

footer {
   background: #314455;
   height: 25px;
   width: 100%;
}

footer p {
   color: white;
   font-size: 15px;
   padding: 5px;
   text-align: center;
}

label {
   display: inline-block;
   width: 5em;
}

#feedback {
   font-size: 1.4em;
}

#selectable {
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 60%;
}

#selectable li {
   font-size: 22px;
   height: 18px;
   margin: 3px;
   padding: 10px;
   text-align: center;
}

#selectable .ui-selected,.ui-selecting{
   background: #B4CD68;
   color: white;
}
