/* Universal css rules */
html,body {
   font-family: 'Didact Gothic', sans-serif;
   height: 100%;
   margin: 0;
   padding: 0;
}

#white {
   color: white;
}

#green {
   color: #B4CD68;
}

a {
   text-decoration: none;
}

.alignleft {
   float: left;
}

.alignright {
   float: right;
}

input,li {
   border-radius: 3px; /* Rounds the corner of input fields and list items */
}

label {
   color: #314455;
   text-align: left;
}

/* Entire HTML body div container */
#container {
   min-height: 100%;
   position: relative;
   height: 100%; /* IE 6 */
}

/* Entire header element*/
header {
   background: #314455;
   font-size: 35px;
   padding: 7px;
}

header #header-links {
   display: inline;
}

header #header-links a {
   color: white;
   font-size: 25px;
}

header #header-links a:HOVER {
   color: #B4CD68;
}

/* body div between the header and the footer */
#body {
   padding-bottom: 18px; /* Height of the footer */
}

#selectables {
   margin: 0 auto;
   position: relative;
}

#selectable {
   list-style-position: inside;
   list-style-type: none;
   margin: 0;
   padding: 0;
   margin-top: 20px;
   margin-left: 25%;
   text-align: center;
   width: 50%;
}

#selectable li {
   border-color: #314455;
   color: #314455;
   font-size: 22px;
   margin: 3px;
   padding: 8px;
   text-align: center;
}

#selectable .ui-selected,.ui-selecting {
   background: #B4CD68;
   color: white;
}

.parameters {
   position: relative;
   margin-top: 40px;
   text-align: center;
}

.parameters+.parameters {
   margin-top: 10px;
}

#selections {
   border-color: #314455;
   margin: 0 auto;
   margin-top: 10px;
   text-align: center;
   font-size: 40px;
}

#selections input {
   color: #314455;
}

input[type=submit] {
   border-color: #314455;
   color: #314455;
   margin: 0 auto;
   margin-left: 35%;
   margin-top: 10px;
   text-align: center;
   width: 30%;
}

/* footer div at the bottom of the page */
footer {
   background: #314455;
   bottom: 0;
   color: white;
   height: 18px; /* Height of the footer */
   padding-bottom: 5px;
   padding-top: 5px;
   position: absolute;
   text-align: center;
   width: 100%;
}