html,body {
   font-family: 'Didact Gothic', sans-serif;
   height: 100%;
   margin: 0;
   padding: 0;
}

#white {
   color: white;
}

#green {
   color: #B4CD68;
}

/* Entire HTML body div container */
#container {
   min-height: 100%;
   position: relative;
   height: 100%; /* IE 6 */
}

/* Entire header div */
header {
   background: #314455;
   font-size: 35px;
}

/* body div between the header and the footer */
#body {
   padding-bottom: 18px; /* Height of the footer */
}

/* footer div at the bottom of the page */
footer {
   background: #314455;
   bottom: 0;
   color: white;
   height: 18px; /* Height of the footer */
   position: absolute;
   text-align: center;
   width: 100%;
}

#selectable {
   list-style-type: none;
   text-align: center;
   width: 50%;
}

#selectable li {
   font-size: 22px;
   height: 18px;
   margin: 3px;
   padding: 10px;
   text-align: center;
}

#selectable .ui-selected,.ui-selecting {
   background: #B4CD68;
   color: white;
}